<%= form_for note, html: { multipart: true } do |f| %>

  <%= hidden_field_tag 'kind', params[:kind] %>

  <%= f.label 'Body' %>
  <br />

  <%= f.text_area :body %>
  <div><%= note.errors[:body].first %></div>
  <br />

  <div class="photo">
    <%= f.s3_file_field :photo, class: 'js-s3_file_field', key: 'uploads/tmp/${timestamp}-${filename}' %>
    <div class="progress"><div class="meter" style="background: green; height: 20px; width: 0%"></div></div>
    <div><%= note.errors[:photo].first %></div>
  </div>

  <br />

  <div class="images">
    <!-- %= f.dropin_file_field :images %>
    <div>< %= note.errors[:image].first %></div -->
  </div> 

  <br />
  <br />

  <%= f.submit  %>
<% end %>
