<div style="float:left; width: 150px; height: 200px;">
  <% if note.photo %>
    <% if note.photo.processing? %>
      Processing...
    <% else %>
      <%= image_tag note.photo.thumb.url %> 
    <% end %>
    <br />
    <small><%= note.photo.filename %></small>
  <% else %>
    No photo
  <% end %>
  <div>
    <%= note.body %>
  </div>
  <% note.images.each do |image| %>
    <%= image_tag image.thumb.url %>
  <% end %>

  <!-- %= link_to 'edit (raw)', edit_note_path(note, kind: 'raw') %><br / -->
  <%= link_to 'edit (builder)', edit_note_path(note, kind: 'builder') %><br />
  <!-- %= link_to 'edit (simple form)', edit_note_path(note, kind: 'simple_form') %><br / -->
  <!-- %= link_to 'delete', note_path(note), method: :delete % -->
</div>
